{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
{% load thumbnail %}
{% load taggit_templatetags2_tags %}
{% get_taglist as tags %}
	<div class="col-lg-8">
		<br />
		<div class="card">
			<div class="card-body">
				<img src="/media/myid.jpg" class="rounded-circle float-left img-responsive" style="margin-right: 10px;" alt="Ravhi Rizaldi">
				<b>Ravhi Rizaldi</b>
				<p class="font-weight-light">
					Ei has utinam molestie, ei ornatus complectitur sed. Ut viderer inimicus per.
					Ne sed audiam tacimates. Pri te ipsum munere minimum, ut habeo apeirian nec, te sed conceptam contentiones.
				</p>
			</div>
		</div>
		<br/>
		
		{% if user.is_authenticated %}
			<!-- Modal -->
			<div class="modal fade" id="ModalAdmin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
				<div class="modal-content">
				  <div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Edit "{{post.title}}"</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
				  </div>
				  <div class="modal-body text-center">
					<a class="btn btn-lg btn-warning" href="{% url 'post_edit' post.id %}">
						<i class="fa fa-pencil fa-2x pull-left"></i> Delete Post
					</a>
					<a class="btn btn-lg btn-danger" href="{% url 'post_delete' post.id %}">
						<i class="fa fa-trash-o fa-2x pull-left"></i> Delete Post
					</a>
				  </div>
				</div>
			  </div>
			</div>	
		{% endif %}
		
		<div class="card mb-4">
			<div class="card-body">
				{% if user.is_authenticated %}
				<div class="d-flex justify-content-between">
					<div class="p-2"><h2 href="card-title">{{ post.title|capfirst }}</h2></div>
					<div class="p-2">
						<a data-toggle="modal" data-target="#ModalAdmin">
							<i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
						</a>
					</div>
				</div>
				{% else %}
				<h2 href="card-title">{{ post.title|capfirst }}</h2>
				{% endif %}
				<hr />
				<div id="post">
					{% if post.image %}
					<img class="card-img-top img-fluid img-responsive" src="{% thumbnail post.image 750x350 box=post.cropping crop detail %}" alt="{{ post.title }}">
					{% else %}
					<img class="img-fluid rounded mx-auto d-block" src="http://via.placeholder.com/750x350" alt="Default Image">
					{% endif %}
					<hr/>
					<!--Full post content goes here-->
					<p class="lead">{{post.body|safe}}</p>
				</div>
			</div>
			<div class="card-footer text-muted">
				<div class="row">
					<div class="col-8 col-sm-6">
						{% for tag in post.tags.all %}
							<a href="{% url 'tagged' tag.slug %}" class="badge badge-default">
								{{tag}}
							</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		
		<!--Disqus comment plugin-->
		<div id="disqus_thread"></div>
			<script>               
				(function() { // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');
				s.src = 'https://navhi-microblog.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
				})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	</div>
	
	<!-- Floating Share Buttons -->
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a3f39b38a410d4a"></script>
	{% include 'widget_r.html' %}
{% endblock %}