{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Navhi Microblog - Delete{% endblock %}
{% block content %}
<div class="col-md-8 mx-auto">
    <br />
    <div class="card">
        <h5 class="card-header bg-danger text-white">Delete Post</h5>
        <div class="card-body">
            <form method="post">{% csrf_token %}
                <p><b>Are you sure you want to delete "{{ object }}" ?</b></p>
                <button class="btn btn-danger btn-block" type="submit">Delete</button>
            </form>
        </div>
    </div>
    <br />
</div>
{% endblock %}