{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Navhi Microblog - New Post{% endblock %}
{% block content %}
<div class="col-lg-9 mx-auto">
    <br />
    <div class="card">
        <h5 class="card-header bg-primary text-white">Create New Post</h5>
        <div class="card-body">
            <form action="{{ action_url }}" method="post" accept-charset="utf-8">
                {{ form|crispy }}
                {{ form.media }}
                {% csrf_token %}
                <p><input type="submit" class="btn btn-success btn-block" value="Save"></p>
            </form>
        </div>
    </div>
    <br />
</div>
{% endblock %}