{% extends "base.html" %}
{% block title %}Navhi Microblog - Articles{% endblock %}
{% block content %}		
<div class="col-md-8">
	<br />
	{% for post in posts %}
	<div class="card mb-4">
		<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
		<div class="card-body">
			<h2 href="card-title">{{ post.title }}</h2>
			{% autoescape off %}
				<p class="card-text">{{ post.body|truncatewords:80|striptags|linebreaks }}</p>
				<a href="{{ post.get_absolute_url }}">Read More &rarr;</a>
			{% endautoescape %}	
		</div>
		<div class="card-footer text-muted">
			<i class="fa fa-calendar" aria-hidden="true"></i> {{ post.publish }}
			<i class="fa fa-user" aria-hidden="true"></i> {{ post.author }}
		</div>
	</div>
	{% endfor %}
	
	<!--Pagination function goes here-->		
	{% if is_paginated %}
		<ul class="pagination justify-content-center">
			{% if page_obj.has_previous %}
				<li class="page-item">
					<a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
				</li>
			{% else %}
				<li class="page-item disabled">
					<a class="page-link" href="#" tabindex="-1">Previous</a>
				</li>
			{% endif %}
			
			{% for i in paginator.page_range %}
				{% if page_obj.number == i %}
					<li class="page-item active">
						<span class="page-link">
							{{ i }}
							<span class="sr-only">(current)</span>
						</span>
					</li>
				{% else %}
					<li class="page-item">
						<a class="page-link" href="?page={{ i }}">{{ i }}</a>
					</li>
				{% endif %}
			{% endfor %}
			{% if page_obj.has_next %}
				<li class="page-item">
					<a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
				</li>
			{% else %}
				<li class="page-item disabled">
					<a class="page-link" href="#" tabindex="-1">Last</a>
				</li>
			{% endif %}
		</ul>
	{% endif %}
</div>
{% include 'widget_r.html' %}
{% endblock %}