{% extends "base.html" %}
{% block title %}Navhi Microblog - Articles{% endblock %}
{% block content %}
{% load thumbnail %}
{% load taggit_templatetags2_tags %}
{% get_taglist as tags %}
	<div class="col-lg-8">
	<br />
	
	{% for post in posts %}
	<div class="post-wrapper wow fadeIn" data-wow-delay="0.4">
		<div class="card mb-4">
			{% if post.image %}
			    <div class="view overlay hm-white-slight">
					<img src="{% thumbnail post.image 750x350 box=post.cropping crop detail %}" class="img-fluid" alt="{{post.title|lower}}">
					<a href="{{ post.get_absolute_url }}">
						<div class="mask"></div>
					</a>
				</div>
			{% else %}
				<div class="view overlay hm-white-slight">
					<img src="http://via.placeholder.com/750x350" class="img-fluid" alt="">
					<a href="{{ post.get_absolute_url }}">
						<div class="mask"></div>
					</a>
				</div>
			{% endif %}
			<div class="card-body">
				<div class="d-flex justify-content-between">
					<div class="p-2"><h4 href="card-title">{{ post.title|capfirst }}</h4></div>
					<div class="p-2">
						<a data-toggle="modal" data-target="#Modal-{{post.title|slugify}}">
							<i class="fa fa-share-alt fa-lg" aria-hidden="true"></i>
						</a>
					</div>
				</div>
				<hr>
				{% autoescape off %}
					<p class="card-text">{{ post.body|truncatewords:80|striptags|linebreaks|lower }}</p>
					<a href="{{ post.get_absolute_url }}" class="d-flex flex-row-reverse">
						<h5 class="waves-effect waves-light p-2">Read more <i class="fa fa-chevron-right"></i></h5>
					</a>
				{% endautoescape %}	
			</div>
			<div class="card-footer bg-transparent text-muted text-center">
				<i class="fa fa-calendar" aria-hidden="true"></i> {{ post.publish|date:"D d M Y" }} &nbsp &nbsp
				<i class="fa fa-user" aria-hidden="true"></i> {{ post.author }} &nbsp &nbsp
				<i class="fa fa-comment" aria-hidden="true">
					<span class="disqus-comment-count" data-disqus-url="http://ravhirizaldi.pythonanywhere.com{{ post.get_absolute_url }}#disqus_thread">No Comments</span>
				</i>
			</div>
		</div>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="Modal-{{post.title|slugify}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Share "{{post.title}}"</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body text-center">
			<a class="btn btn-social-icon btn-twitter">
				<span class="fa fa-twitter"></span>
			</a>
			<a class="btn btn-social-icon btn-facebook">
				<span class="fa fa-facebook"></span>
			</a>
			<a class="btn btn-social-icon btn-google">
				<span class="fa fa-google"></span>
			</a>
			<a class="btn btn-social-icon btn-pinterest">
				<span class="fa fa-pinterest"></span>
			</a>
		  </div>
		</div>
	  </div>
	</div>	
	{% endfor %}
	
	<!--Pagination function goes here-->		
	{% if is_paginated %}
		<ul class="pagination justify-content-center">
			{% if page_obj.has_previous %}
				<li class="page-item">
					<a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
				</li>
			{% else %}
				<li class="page-item disabled">
					<a class="page-link" href="#" tabindex="-1">Previous</a>
				</li>
			{% endif %}
			
			{% for i in paginator.page_range %}
				{% if page_obj.number == i %}
					<li class="page-item active">
						<span class="page-link">
							{{ i }}
							<span class="sr-only">(current)</span>
						</span>
					</li>
				{% else %}
					<li class="page-item">
						<a class="page-link" href="?page={{ i }}">{{ i }}</a>
					</li>
				{% endif %}
			{% endfor %}
			{% if page_obj.has_next %}
				<li class="page-item">
					<a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
				</li>
			{% else %}
				<li class="page-item disabled">
					<a class="page-link" href="#" tabindex="-1">Last</a>
				</li>
			{% endif %}
		</ul>
	{% endif %}
</div>
{% include 'widget_r.html' %}
{% endblock %}