<!DOCTYPE html>
<html lang="en">
	{% load costume_tags %}
	{% load static %}
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta author="Ravhi Rizaldi">
		<meta name="Description" content="{{ post.body|truncatewords:20|striptags|lower }}">
		<meta name="Author" content="Ravhi Rizaldi">
		<meta name="Robots" content="index, follow">
		<meta name="charset="utf-8">
		<link rel="Publisher" href="https://www.facebook.com/ravhirizaldi">
		<link rel="Canonical" href="http://ravhirizaldi.pythonanywhere.com{{ post.get_absolute_url }}">
			
		<!--Open Graph Meta Tags-->
		<meta property="og:type" content="article">
		<meta property="og:title" content="{{post.title}}">
		<meta property="og:description" content="{{ post.body|truncatewords:20|striptags|lower }}">
		<meta property="og:site_name" content="http://ravhirizaldi.pythonanywhere.com">
		<meta property="og:url" content="http://ravhirizaldi.pythonanywhere.com{{ post.get_absolute_url }}">
		<meta property="og:image" content="{{post.image.url}}">
		<meta property="article:published_time" content="{{post.publish}}">
		<meta property="article:author" content="https://www.facebook.com/ravhirizaldi">
		<meta property="fb:app_id" content="185072975386514">
		
		{% include 'stylesheet.html' %}
		{% block javascript %} {% endblock %}

		<title>{% block title %}{% endblock %}</title>
	</head>
	
	<body>
		{% include 'navbar.html' %}
		{% include 'property.html' %}
			
		<div class="container">
			<div class="row">
					<br/>
				<!--Page content for each page-->
				{% block content %}
				{% endblock %}
				<!--End Page Content-->
			</div>
		</div>
		
		{% include 'footer.html' %}
		{% include 'javascript.html' %}
	</body>
</html>