<!-- Footer -->
<footer class="page-footer blue center-on-small-only">
    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">
            <!--First column-->
            <div class="col-md-6">
                <h5 class="title">Navhi Blog</h5>
                <p>Welcome! My blog provides various tutorials and knowledge for all of you. Especially in the field of web development.</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <h5 class="title">Follow Me</h5>
                <ul>
                    <li><a href="https://www.facebook.com/ravhirizaldi">Facebook</a></li>
                    <li><a href="https://www.twitter.com/ravhizldi">Twitter</a></li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            Copyright © 2017 Navhicroblog - Powered by Django and Python
        </div>
    </div>
    <!--/.Copyright-->
</footer>
<!--/.Footer-->