{% load static %}
<!--Disqus Meta Tag configuration-->
<script type="text/javascript">
var disqus_url = 'http://ravhirizaldi.pythonanywhere.com{{ request.path }}';
</script>
			
{{ form.media }}
            
<!--Facebook meta tag for sharing button configuration-->
<meta property="og:url"           content="{{ request.build_absolute_uri }}" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="{{ post.title|capfirst }}" />
<meta property="og:description"   content="{{ post.body|truncatewords:5|striptags }}" />
<meta property="og:image"         content="{{ post.image.url }}" />

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v2.11&appId=185072975386514';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>