{% load static %}
<!--Disqus Meta Tag configuration-->
<script type="text/javascript">
var disqus_url = 'http://ravhirizaldi.pythonanywhere.com{{ request.path }}';
</script>
			
{{ form.media }}
            
<!--Facebook meta tag for sharing button configuration-->
<meta property="og:url"           content="{{ request.build_absolute_uri }}" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="{{ post.title|capfirst }}" />
<meta property="og:description"   content="{{ post.body|truncatewords:5|striptags }}" />