{% load costume_tags %}
{% load static %}
{% load taggit_templatetags2_tags %}
{% get_taglist as tags %}
<!--Search widget-->
<div class="col-md-4">
	<div class="card my-4">
		<h5 class="card-header">Search</h5>
		<div class="card-body">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
						<button class="btn btn-outline-secondary waves-effect" type="button">Go!</button>
					</span>
			</div>
		</div>
	</div>
						
	<!-- Side Widget -->
	<div class="card my-4">
		<h5 class="responsive card-header">Categories</h5>
		<ul class="list-group list-group-flush">
			{% for tag in tags %}
				<li class="list-group-item d-flex justify-content-between align-items-center">
					<a href="{% url 'tagged' tag.slug %}">{{tag}}</a>
					<span class="badge badge-primary badge-pill">{{tag.num_times}}</span>
				</li>
			{% endfor %}
		</ul>
	</div>
	
	<!--<div class="list-group">
		{% for post in posts|slice:"3" %}
		<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
			<div class="d-flex w-100 justify-content-between">
				<b><h6 class="mb-1">{{post.title|title}}</h6></b>
				<small>{{ post.created|time_since }}</small>
			</div>
			<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
		</a>
		{% endfor %}
	</div>-->
	
	<div class="card my-4">
		<div class="card-body">
			<a class="twitter-timeline" data-height="800" href="https://twitter.com/NASA?ref_src=twsrc%5Etfw">Tweets by NASA</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
						
	<div class="card my-4">
		<h5 class="card-header">Welcome!</h5>
			<div class="card-body text-center">
				This is my first Microblog on Internet and now I have <b>{% total_post %}</b> articles and
				have <b>{% total_user %}</b> Users registered.
			</div>
	</div>
</div>