body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

img {
     display: inline-block;
     height: auto;
     max-width: 100%;
}

h2 {
    color: #FCA205;
    font-family: 'Lobster';
}

.card-img-top {
    width: 100%;
}

/*Fixed footer and set it to sticky*/
html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  
  /* additional style for effect only */
  text-align: center;
  background-color: #333;
  color: #fff;
}